.dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;

    &__sidebar {
        display: block;
    }

    &__content {
        display: grid;
    }
    
    &__maps {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    &__graphics {
        
    }
    
    &--for-graphics {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
    }
}