.banner {
    background-image: url('/src/img/banner/banner-mob.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    height: 420px;

    h1 {
        font-size: 30px;
    }
}