.footer {
    background-color: map-get($map: $colors, $key: oc-light-green);
    color: map-get($map: $colors, $key: oc-white);

    p {
        font-size: 14px;
    }

    @media screen and (min-width: 768px) {
        .membership-form {
            margin-bottom: -30px!important;
        }
    }
}