.footer {
    background-color: map-get($map: $colors, $key: oc-light-green);
    color: map-get($map: $colors, $key: oc-white);

    p {
        font-size: 14px;
    }

    input:not([type="submit"]) {
        background-color: #DEE9FF;
    }

    input[type="submit"] {
        background-color: map-get($map: $colors, $key: oc-dark-green);
        color: white;
    }
}