@charset "UTF-8";
@font-face {
  font-family: "Avenir";
  src: local("Avenir"), url(../fonts/AvenirLTProMedium.otf) format("opentype");
}
@font-face {
  font-family: "AvenirBlack";
  src: local("AvenirBlack"), url(../fonts/AvenirLTProBlack.otf) format("opentype");
}
@font-face {
  font-family: "AvenirHeavy";
  src: local("AvenirHeavy"), url(../fonts/AvenirLTProBlack.otf) format("opentype");
}
@font-face {
  font-family: "AvenirLight";
  src: local("AvenirLight"), url(../fonts/AvenirLTProLight.otf) format("opentype");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

span {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, span, a, div {
  font-family: Avenir;
}

nav, ul, li {
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
}

li {
  list-style: none;
}

.rrss {
  display: flex;
  justify-content: space-around;
}
.rrss a {
  padding: 0px 3px;
}
.rrss p {
  text-align: center;
}
@media (min-width: 768px) {
  .rrss a {
    max-width: 50px;
  }
}

.button {
  width: 130px;
  height: 44px;
  border: 3px solid;
  color: white;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  line-height: 1.2em;
}
.button:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .button {
    width: 156px;
    height: 52.8px;
    font-size: 16px;
  }
}
@media (min-width: 1080px) {
  .button {
    width: 208px;
    height: 70.4px;
    font-size: 20px;
  }
}

.main-header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 990px) {
  #sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background-color: white;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

  #sidebar.active {
    left: 0;
  }
}
.national-situation {
  background-color: rgba(253, 6, 0, 0.1);
}
.national-situation h1 {
  font-family: "AvenirBlack";
  color: #E93E3A;
}
.national-situation__articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 14px;
}
@media (min-width: 768px) {
  .national-situation h1 {
    font-size: 36px;
  }
}
@media (min-width: 1080px) {
  .national-situation__articles {
    grid-template-columns: repeat(4, 1fr);
  }
}

.what-find h1 {
  font-family: "AvenirBlack";
}
.what-find h2 {
  font-size: 20px;
  font-weight: 800;
  font-family: "AvenirBlack";
}
.what-find span {
  font-size: 14px;
  font-weight: 800;
}
.what-find ul {
  list-style: none;
  padding-left: 0px;
}
.what-find li::before {
  content: "•";
  padding-right: 5px;
  font-size: 20px;
}
.what-find img, .what-find picture {
  width: 100%;
}
@media (min-width: 768px) {
  .what-find h1 {
    font-size: 36px;
  }
  .what-find h2 {
    font-size: 30px;
  }
}

.emergency-map {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.emergency-map span {
  color: #FA6142;
}
.emergency-map li::before {
  color: #FA6142;
}
@media (min-width: 768px) {
  .emergency-map {
    grid-gap: 50px;
  }
}

.graphic-information {
  background-color: rgba(0, 191, 166, 0.1);
}
.graphic-information span {
  color: #0A544F;
}
.graphic-information h3 {
  color: #000000;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 45px;
}
.graphic-information ul {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  column-count: 2;
  column-gap: 0px;
}
.graphic-information__image {
  margin-top: -50px;
  width: 100%;
}
.graphic-information picture {
  width: 70%;
}
@media (min-width: 768px) {
  .graphic-information .main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .graphic-information ul {
    column-count: 1;
    column-gap: 0px;
  }
  .graphic-information picture {
    width: 100%;
  }
  .graphic-information__image {
    margin-top: 0;
    width: 100%;
  }
  .graphic-information h3 {
    font-size: 22px;
  }
}

.about-covid__articles {
  display: grid;
}
.about-covid h1 {
  font-family: "AvenirBlack";
}
@media (min-width: 768px) {
  .about-covid h1 {
    font-size: 36px;
  }
  .about-covid__articles {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

.main-title {
  font-size: 24px;
}

.high-rule {
  width: 80px;
  height: 5px;
  background-color: red;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #FA6142 50%, #00BFA6 50%);
}

.quantity-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 8px;
}
.quantity-card__image {
  width: 35px;
}
.quantity-card__title {
  font-size: 12px;
  line-height: 1em;
}
.quantity-card__number {
  font-size: 20px;
  font-family: "AvenirBlack";
}
.quantity-card__update {
  font-size: 12px;
  color: gray;
  line-height: 1em;
}
.quantity-card p {
  margin-bottom: 0px;
}

.aboutcovid-card {
  background-color: #FA6142;
  border-radius: 16px;
}
.aboutcovid-card__title {
  font-size: 16px;
  color: #FFFFFF;
}
.aboutcovid-card__link {
  color: #FFFFFF;
  text-decoration: underline;
}

.membership-form input {
  border: none;
}
.membership-form__input {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.membership-form__submit {
  background-image: url(../img/footer/send.svg);
  background-repeat: no-repeat;
  background-position: 70px center;
  background-size: 25px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.main-container {
  max-width: 1010px;
  margin: auto;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.dashboard__sidebar {
  display: block;
}
.dashboard__content {
  display: grid;
}
.dashboard__maps {
  grid-column-start: 1;
  grid-column-end: 3;
}
.dashboard--for-graphics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.button--red {
  border-color: #FD0600;
  background-color: #FD0600;
  color: #FFFFFF;
}
.button--red:hover {
  border-color: #FD0600;
  background-color: #FD0600;
  color: #FFFFFF;
  text-decoration: none;
}
.button--white-red {
  border-color: #FD0600;
  background-color: #FFFFFF;
  color: #000000;
}
.button--white-red:hover {
  border-color: #FD0600;
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
}
.button--green {
  border-color: #0A544F;
  background-color: #0A544F;
  color: #FFFFFF;
}
.button--green:hover {
  border-color: #0A544F;
  background-color: #0A544F;
  color: #FFFFFF;
  text-decoration: none;
}
.button--white-green {
  border-color: #0A544F;
  background-color: #FFFFFF;
  color: #000000;
}
.button--white-green:hover {
  border-color: #0A544F;
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
}

.banner {
  background-image: url("/src/img/banner/banner-mob.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  height: 420px;
  position: relative;
  z-index: 10;
}
.banner h1 {
  font-size: 30px;
  font-family: "AvenirBlack";
}
@media (min-width: 768px) {
  .banner {
    height: 500px;
  }
  .banner h1 {
    font-size: 56px;
  }
}
@media (min-width: 1080px) {
  .banner {
    background-image: url("/src/img/banner/banner-dek.svg");
    height: 660px;
  }
}

.dashboard {
  height: 100vh;
}
.dashboard__sidebar {
  z-index: 1;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
}
.dashboard__content {
  background-color: #F9F5F4;
  padding: 30px;
}

.dashboard-sidebar__item {
  padding: 12px 34px;
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #ecebeb;
  cursor: pointer;
}
.dashboard-sidebar__link {
  font-family: AvenirLight;
  font-size: 18px;
  font-weight: normal;
  color: #3A3838;
}
.dashboard-sidebar__link:hover {
  text-decoration: none;
  color: #000000;
}
.dashboard-sidebar__list {
  margin-bottom: 0px;
}
.dashboard-sidebar__subitem:hover {
  background-color: #ffeeee;
  box-shadow: 5px 0px #FD0600 inset;
}

.footer {
  background-color: #00BFA6;
  color: #FFFFFF;
}
.footer p {
  font-size: 14px;
}
.footer input:not([type=submit]) {
  background-color: #DEE9FF;
}
.footer input[type=submit] {
  background-color: #0A544F;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
