.information-place-box {
    border-radius: 12px;
    overflow: hidden;
    background-color: white;

    &__section {
        padding: 12px 18px;
    }
}

.information-place-header {
    background-color: rgba(map-get($colors, oc-light-green), 20%);

    &__title {
        color: map-get($map: $colors, $key: oc-dark-green);
    }

    &__range {
        width: 100%;
        display: block;
        height: 20px;
        pointer-events: none;
        background-color: transparent;
        border-right: 2px solid rgba(0,0,0,.05);
        border-left: 2px solid rgba(0,0,0,.05);
    }

    &__range::-moz-range-track {
        background-color: rgba(0,0,0,.05);
        height: 3px;
    }

    &__range::-moz-range-thumb {
        z-index: 1;
        cursor: pointer;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        border: 3px solid map-get($map: $colors, $key: oc-dark-green);
        background-image: linear-gradient(map-get($colors, oc-light-green), map-get($colors, oc-dark-green));
    }

    &__range::-webkit-range-thumb {
        z-index: 1;
        cursor: pointer;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        border: 3px solid map-get($map: $colors, $key: oc-dark-green);
        background-image: linear-gradient(map-get($colors, oc-light-green), map-get($colors, oc-dark-green));
    }

    &__range::-ms-range-thumb {
        z-index: 1;
        cursor: pointer;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        border: 3px solid map-get($map: $colors, $key: oc-dark-green);
        background-image: linear-gradient(map-get($colors, oc-light-green), map-get($colors, oc-dark-green));
    }

    &__range + input[type="range"][multiple] {
        margin-top: 20px * -1;
    }

    input[type="range"]::-webkit-slider-thumb {
        pointer-events: all;
      }
      input[type="range"]::-moz-range-thumb {
        pointer-events: all;
      }
      input[type="range"]::-ms-thumb {
        pointer-events: all;
      }
    
}

.information-place-content {

    &__title {
        font-size: 16px;
    }

    &__available {
        display: flex;
        justify-content: flex-end;
        font-family: AvenirHeavy;
        font-size: 12px;
        margin-top: -19px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        max-height: 200px;
        flex-wrap: wrap;
        overflow: hidden;
        margin-bottom: 10px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 8px;
        width: 100%;
        font-size: 12px;
        
        &:hover {
            background-color: rgba(0,0,0,.028);
            border-radius: 12px;
            cursor: pointer;
        }

        span:nth-of-type(1) {
            padding-left: 16px;
            position: relative;
            width: 70%;
        }

        span:nth-of-type(1)::before {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            /*background-color: blue;*/
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }

        span:nth-of-type(1)::after {
            content: '';
            display: block;
            width: 6px;
            height: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background-image: linear-gradient(transparent, white);
        }

        span {
            display: flex;
            text-transform: capitalize;
            white-space: nowrap;
            overflow: hidden;
        }

        img {
            margin-right: 20px;
        }
    }

    &__pagination-container {
        display: flex;
        justify-content: flex-end;
    }

    &__pagination {
        display: flex;
        justify-content: space-around;
        padding: 5px 0px;
        border-radius: 40px;
        background-color: rgba(map-get($colors, oc-black), .3);
        color: map-get($map: $colors, $key: oc-white);
    }

    &__arrow {
        margin: 0px 8px;
        width: 10px;
        cursor: pointer;
    }

    span[class^="information-place-content__pagination-num"] {
        padding: 0px 4px;
    }
}