.membership-form {

    input {
        border: none;
    }

    &__input {
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    &__submit {
        background-image: url(../img/footer/send.svg);
        background-repeat: no-repeat;
        background-position: 70px center;
        background-size: 25px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
}