/*@mixin leyenda($color,$width,$height){
    background-color: $color;
    width: $width;
    height: $height;
    margin-right:10px ;
}
@mixin hijos {
    width: 96%;
    background-color:rgb(250, 250, 250);
    margin:6% auto;
    border-radius: 10px;
}
$separador: 20px;
$extremo:#FD0600;
$alto:#F38620;
$moderado: #FFE604;
$bajo:#00BF46;



.contenedor{
    width: 98%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
    .resumen{
        @include hijos();
        grid-column: 1;
        grid-row: 1/3;
        width: 100%;
        height: 65%;
        margin-top: 12%;
        height: auto;
    }

    .buscar{
        width: 90%;
        display: flex;
        margin:12% auto 0 auto;
        position: relative;
        height: 50px;
        justify-content: start;
        grid-column: 4;
        grid-row: 1/4;
        input{
            width: 100%;
            height: 39px;
            border-radius: 20px;
            outline: none;
            text-align: center;
        }
        img{
            height: 39px;
            width: 20%;
            padding: 10px;
            position: absolute;
            background: #00BFA6;
            border-radius: 20px 0 0 20px;
        }
        
    }

    .region{
        @include hijos();
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-column: 2/4;
        grid-row: 1;
        .titulo,.fecha,.selecion,.mapa,.leyenda{
            margin: $separador;
        }
        .titulo{
            width: 100%;
            grid-column: 1/3;
            grid-row: 1;
            h2{
                font-size: 24px;
                font-weight: 800;
                width:100%;
                color: #3A3838;
            }
        }
        .fecha{
            grid-column: 1/3;
            grid-row: 2;
            margin-bottom: 8%;
            display: flex;
            color: #3A3838;
            .calendar{
                width: 20%;
                img{
                    height: 40px;
                }
            }
            .fecha-c{
                width: 80%;
                height: 40px;
                p{
                    height: 8px;
                    font-size: 12px;
                    color: #3A3838;
                    line-height: 16px;
                }
            }
        }
        .selecion{
            grid-column: 3/5;
            grid-row: 1;
            display: flex;
            color: #0A544F;
            .switch{
                position: relative;
                display: inline-block;
                width: 50px;
                height: 20px;
                margin: 0 5px;
                input{
                    display: none;
                }
                .switch-c{
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #aecabc;
                    transition: .4s;
                }
                .switch-c:before {
                    position: absolute;
                    content: "";
                    height: 30px;
                    width: 30px;
                    left: 0px;
                    bottom: -4px;
                    background: linear-gradient(180deg, #00BFA6 71.18%, #46BC75 100%);;
                    transition: .4s;
                }
                input:checked + .switch-c {
                    background-color: #8ab49f;
                }
                input:checked + .switch-c:before {
                    transform: translateX(22px);
                }
                .switch-c.round {
                    border-radius: 70px;
                  }
                   
                  .switch-c.round:before {
                    border-radius: 50%;
                  }
            }
           
        }
        
        .mapa{
            grid-column: 2/5;
            grid-row: 2/5;
            width: 90%;
            img{
                width: 90%;
            }
        }
        .leyenda{
            grid-column: 1/3;
            grid-row: 3;
            margin-top: 120%;
            min-width: 40%;
            max-width: 40%;
            width: 40%;
            border: 2px solid #00BFA6;
            box-sizing: border-box;
            border-radius: 12px;
            h2{
                text-align: center;
                font-weight: 500;
                font-size: 14px;
                line-height: 35px;
            }
            ul{
                font-size: 12px;
                line-height: 18px;
                color: #2E2D2D;
                li{
                    padding: 0 10px;
                    display: flex;
                    align-items: center;
                    .extremo{
                        @include leyenda($extremo,10px,10px)
                    }
                    .alto{
                        @include leyenda($alto,10px,10px)
                    }
                    .moderado{
                        @include leyenda( $moderado,10px,10px)
                    }
                    .bajo{
                        @include leyenda($bajo,10px,10px)
                    }
                }
                
            }
        }
    }
    .puesto{
        grid-column: 4;
        grid-row: 1;
        position: relative;
        top: 9%;
        height: 200px;
        @include hijos();
        .puesto-c{
            margin: $separador;
            h2{
                font-weight: 800;
                font-size: 22px;
                line-height: 35px;
            }
            .departamento{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }
    .ranking{
        @include hijos();
        grid-column: 4;
        grid-row: 1;
        margin-bottom: 10%;
        position: relative;
        top:35%;
        height: 58%;
        .ranking-c{
            margin: $separador;
            h2{
                font-size: 18px;
                line-height: 20px;
                color: #455A64;
            }
            .list-region{
                width: 70%;
                margin: auto;
                li{
                    display: flex;
                    padding: 5px 0;
                    align-items: center;
                    span{
                        margin-left: 4px;
                        border-radius: 50%;
                        @include leyenda($extremo,50px,50px);
                    }
                }
            }
        }
        
    }
}
@media (max-width:1000px){
    .contenedor{
        grid-template-columns: repeat(3,1fr);
        width: 96%;
        margin: auto;
        .resumen{
            grid-column: 1;
            grid-row: 2/3;
            margin-top: 12%;
            height: auto;
        }
        .buscar{
            width: 90%;
            display: flex;
            margin:12% auto 0 auto;
            position: relative;
            height: 50px;
            justify-content: start;
            grid-column: 2/3;
            grid-row: 1/2;
            
        }
    
        .region{
            display: flex;
            flex-direction: column;
            grid-column: 2/4;
            grid-row: 2/3;
            .fecha{
                grid-column: 1/3;
                grid-row: 2;
                margin-bottom: 8%;
                display: flex;
                color: #3A3838;
            }
            .selecion{
                grid-column: 3/5;
                grid-row: 1;
                display: flex;
                color: #0A544F;
            }
            
            .mapa{
                grid-column: 2/5;
                grid-row: 2/5;
                width: 90%;
                img{
                    width: 90%;
                }
            }
            .leyenda{
                grid-column: 1/3;
                grid-row: 3;
                margin-top: -20%;
                min-width: 40%;
                max-width: 40%;
                width: 40%;
                border: 2px solid #00BFA6;
                box-sizing: border-box;
                border-radius: 12px;
            }
        }
        .puesto{
            grid-column:1;
            grid-row: 3/3;
            position: static;
            height: auto;
            margin: 0 0 2% 0;
        }
        .ranking{
            grid-column: 2/4;
            grid-row: 3/3;
            position: static;
            height: auto;
            margin: 0 0 2% 0;
        }
    }
}

@media (max-width:500px){
    .contenedor{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        .resumen{
            display: none;
        }
        .region{
            display: flex;
            flex-direction: column;
        }
    }
}*/

/**
    Separating the code
*/

/*.resumen{
    @include hijos();
    grid-column: 1;
    grid-row: 1/3;
    width: 100%;
    height: 65%;
    margin-top: 12%;
    height: auto;
}*/

/* Barra de búsqueda */
/*.buscar{
    width: 90%;
    display: flex;
    margin:  auto;
    position: relative;
    height: 50px;
    justify-content: start;
    grid-column: 4;
    grid-row: 1/4;
    input{
        width: 100%;
        height: 39px;
        border-radius: 20px;
        outline: none;
        text-align: center;
    }
    img{
        height: 39px;
        width: 20%;
        padding: 10px;
        position: absolute;
        background: #00BFA6;
        border-radius: 20px 0 0 20px;
    }
}*/

/* Mapa de búsqueda */
/*.region{
    @include hijos();
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column: 2/4;
    grid-row: 1;
    .titulo,.fecha,.selecion,.mapa,.leyenda{
        margin: $separador;
    }
    .titulo{
        width: 100%;
        grid-column: 1/3;
        grid-row: 1;
        h2{
            font-size: 24px;
            font-weight: 800;
            width:100%;
            color: #3A3838;
        }
    }
    .fecha{
        grid-column: 1/3;
        grid-row: 2;
        margin-bottom: 8%;
        display: flex;
        color: #3A3838;
        .calendar{
            width: 20%;
            img{
                height: 40px;
            }
        }
        .fecha-c{
            width: 80%;
            height: 40px;
            p{
                height: 8px;
                font-size: 12px;
                color: #3A3838;
                line-height: 16px;
            }
        }
    }
    .selecion{
        grid-column: 3/5;
        grid-row: 1;
        display: flex;
        color: #0A544F;
        .switch{
            position: relative;
            display: inline-block;
            width: 50px;
            height: 20px;
            margin: 0 5px;
            input{
                display: none;
            }
            .switch-c{
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #aecabc;
                transition: .4s;
            }
            .switch-c:before {
                position: absolute;
                content: "";
                height: 30px;
                width: 30px;
                left: 0px;
                bottom: -4px;
                background: linear-gradient(180deg, #00BFA6 71.18%, #46BC75 100%);;
                transition: .4s;
            }
            input:checked + .switch-c {
                background-color: #8ab49f;
            }
            input:checked + .switch-c:before {
                transform: translateX(22px);
            }
            .switch-c.round {
                border-radius: 70px;
              }
               
              .switch-c.round:before {
                border-radius: 50%;
              }
        }
       
    }
    
    .mapa{
        grid-column: 2/5;
        grid-row: 2/5;
        width: 90%;
        img{
            width: 90%;
        }
    }
    .leyenda{
        grid-column: 1/3;
        grid-row: 3;
        margin-top: 120%;
        min-width: 40%;
        max-width: 40%;
        width: 40%;
        border: 2px solid #00BFA6;
        box-sizing: border-box;
        border-radius: 12px;
        h2{
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 35px;
        }
        ul{
            font-size: 12px;
            line-height: 18px;
            color: #2E2D2D;
            li{
                padding: 0 10px;
                display: flex;
                align-items: center;
                .extremo{
                    @include leyenda($extremo,10px,10px)
                }
                .alto{
                    @include leyenda($alto,10px,10px)
                }
                .moderado{
                    @include leyenda( $moderado,10px,10px)
                }
                .bajo{
                    @include leyenda($bajo,10px,10px)
                }
            }
            
        }
    }
}
.puesto{
    grid-column: 4;
    grid-row: 1;
    position: relative;
    top: 9%;
    height: 200px;
    @include hijos();
    .puesto-c{
        margin: $separador;
        h2{
            font-weight: 800;
            font-size: 22px;
            line-height: 35px;
        }
        .departamento{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}
.ranking{
    @include hijos();
    grid-column: 4;
    grid-row: 1;
    margin-bottom: 10%;
    position: relative;
    top:35%;
    height: 58%;
    .ranking-c{
        margin: $separador;
        h2{
            font-size: 18px;
            line-height: 20px;
            color: #455A64;
        }
        .list-region{
            width: 70%;
            margin: auto;
            li{
                display: flex;
                padding: 5px 0;
                align-items: center;
                span{
                    margin-left: 4px;
                    border-radius: 50%;
                    @include leyenda($extremo,50px,50px);
                }
            }
        }
    }
    
}*/