.quantity-card {
    background-color: #fff;
    border-radius: 12px;
    padding: 10px 8px;

    &__image {
        width: 35px;
    }

    &__title {
        font-size: 12px;
        line-height: 1em;
    }

    &__number {
        font-size: 20px;
        font-family: 'AvenirBlack';
    }

    &__update {
        font-size: 12px;
        color: darken($color: map-get($colors, oc-white), $amount: 50);
        line-height: 1em;
    }

    p {
        margin-bottom: 0px;
    }
}