.rrss {
    display: flex;
    justify-content: space-around;

    a {
        padding: 0px 3px;
    }

    p { 
        text-align: center;
    }
    
    @media (min-width: 768px) {
        a {
            max-width: 50px;
        }
    }
}