.national-situation {
    background-color: rgba(map-get($map: $colors, $key: oc-red), .1);

    h1 {
        color: map-get($map: $colors, $key: oc-dark-red);
    }

    &__articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr );
        grid-gap: 14px;
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 36px;
        }
    }

    @media (min-width: 1080px) {
        &__articles {
            grid-template-columns: repeat(4, 1fr );
        }
    }
}

.what-find {
    
    h2 {
        font-size: 20px;
        font-weight: 800;
        font-family: 'AvenirHeavy';
    }
    
    span {
        font-size: 14px;
        font-weight: 800;
    }

    ul {
        list-style: none;
        padding-left: 0px;
    }
    
    li::before {
        content: "•";
        padding-right: 5px;
        font-size: 20px;
    }

    img, picture {
        width: 100%;
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 30px;
        }

        p, li, span {
            font-size: 26px;
        }
    }
}

.emergency-map {
        display: grid;
        grid-template-columns: repeat(2, 1fr );
        grid-gap: 10px;

    span {
        color: map-get($map: $colors, $key: oc-orange);
    }
    
    li::before {
        color: map-get($map: $colors, $key: oc-orange);
    }

    @media (min-width: 768px) {
        grid-gap: 50px;

        h2 {
            font-size: 36px;
        }

        span {
            font-family: 'AvenirLight';
            font-size: 28px;
        }
    }
}

.graphic-information {
    background-color: rgba(map-get($map: $colors, $key: oc-light-green), .1);

    span {
        color: map-get($map: $colors, $key: oc-dark-green);
    }

    h3 {
        color: map-get($map: $colors, $key: oc-black);
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 45px;
    }

    ul {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 0px;
        column-count: 2;
        column-gap: 0px;
    }
    
    li::before {
        color: map-get($map: $colors, $key: oc-drak-green);
    }

    &__image {
        margin-top: -50px;
        width: 100%;
    }

    picture {
        width: 70%;
    }

    @media (min-width: 768px) {

        .main-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr );

        }

        ul {
            column-count: 1;
            column-gap: 0px;
        }

        picture {
            width: 100%;
        }

        &__image {
            margin-top: 0;
            width: 100%;
        }
        h3 {
            font-size: 22px;
        }
    }
}

.about-covid {
    &__articles {
        display: grid;
    }
    
    @media (min-width: 768px) {
        h1 {
            font-size: 36px;
        }

        &__articles {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
        }
    }
}