.container-vaccination{
    h2{
        margin-top: 1rem;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 44px;
        color: #3A3838;

    }
    .card-information{
        background-color: #E6F7E9;
        // min-height: 26rem;
        .img-map{
            object-fit: cover;
            object-position:top;
            width: 100%;
            height: 23rem;
        }
        .img-society{
            width: 100%;
            min-height: 12rem;
            margin-top: 2rem;
            margin-right: 2rem;
            
        }
        span{
            font-size: 0.93rem;
        }

        .text-left-card{
            font-weight: normal; 
            margin-top: 0 !important;
        }

        .type-doses-section{
        
            li{
                font-weight: normal; 
                font-size: 1.3rem;
            }

            li:before {
                content: "• ";
                color: #00BFA6;
                margin-left: -10px;
            }
        }
    }

    .searchregion-form__input {
        width: 60% !important;
    }

    .btn-vaccinate-state{
        background: #00B092;
    }

    input{
        box-shadow: none !important;
    }

    .desing-vaccinate-rows .col-1{
        margin-top: 0.5rem;
        padding: 0;
    }

    .missing-vaccinate{
        width: 80%;
        height: 2rem;
        margin: auto;
        background: rgba(38, 50, 56, 0.4);
    }

    .first-dose{
        width: 90%;
        height: 2rem;
        margin: auto;
        background: #01ABF6;
    }

    .dose-complete{
        width: 90%;
        height: 2rem;
        margin: auto;
        background: #00599D;
    }

    
}

@media only screen and (min-width: 250px) and (max-width: 715px){
    .container-vaccination{ 
        h2{
            margin: 1rem;
            font-size: 2rem;
        }       
        .card-information{
            .img-map{
                object-fit: cover;
                object-position:top;
                width: 100%;
                height: 17rem;
                margin-bottom: 0.5rem;
            }
            .img-society{
                width: 100%;
                height: 17rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}

@media only screen and (min-width: 551px) and (max-width: 990px){
    .container-vaccination{ 
        h2{
            margin: 1rem;
            font-size: 2rem;
        }       
        .card-information{
            .img-map{
                object-fit: cover;
                object-position:top;
                width: 100%;
                height: 30rem;
            }
            .img-society{
                width: 100%;
                height: 20rem;
                margin:auto;
            }
        }
    }
}


//CardBody
.btn-fase{
    background: #0A544F !important;
}


.btn-search.vaccinate{ 
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #00BFA6;
    border: 1px solid #00BFA6;
}

.btn-search.vaccinate:hover{
    color: #00BFA6 ;
}