.weekly-info-card-container{
	font-family: Avenir;
	margin: 2rem 0 0 2rem;
	width: fit-content;
	max-width: 480px;
	padding: 1em;
	border-radius: 4px;
	box-shadow: 0 0 2px #000000;

	@media (max-width: 576px) {
		max-width: 90%;		
	}

	time{
		color: #6c757d;
		line-height: 2;
		font-size: 1.2rem;
	}

	h3{
		margin-bottom: 0;
		font-size: 1.92rem;
		color: var(--gray-dark);
		margin-bottom: -0.4rem;
	}

	ul {
		font-size: 1rem;
		margin-top: 0.5rem;
		display: flex;
		flex-direction: column;
		color: #212529;
		
	}
}

.weekly-info-card__li {
		line-height: 1.5;

		&:before{
			content: "•";
			font-size: 20px;
    		margin-right: 5px;
    		padding-top: 5px;
    	}

    	strong {
    		font-size: 1.1rem;
    	}
}