@font-face {
    font-family: 'Avenir';
    src: local('Avenir'), url(../../fonts/AvenirLTProMedium.otf) format('opentype');
}

@font-face {
    font-family: 'AvenirBlack';
    src: local('AvenirBlack'), url(../../fonts/AvenirLTProBlack.otf) format('opentype');
}

@font-face {
    font-family: 'AvenirHeavy';
    src: local('AvenirHeavy'), url(../../fonts/AvenirLTProHeavy.otf) format('opentype');
}

@font-face {
    font-family: 'AvenirLight';
    src: local('AvenirLight'), url(../../fonts/AvenirLTProLight.otf) format('opentype');
}

@font-face {
    font-family: 'WorkSans';
    src: local('WorkSans'), url(../../fonts/WorkSans-Regular.ttf) format('opentype');
}